# ignore everything and use ! to allow tracking
*

# ignore-list files, at top level and under any tracked directories
!.bashrc
!.gitignore
!.gitkeep
!.gitmodules
!.vimrc
!README.md

# top level dirs
!/.config/
!/.local/
!/.ssh/
