[submodule ".config/mpv/scripts/mpv_sponsorblock_minimal"]
	path = .config/mpv/scripts/mpv_sponsorblock_minimal
	url = https://codeberg.org/jouni/mpv_sponsorblock_minimal.git
[submodule ".config/nvim"]
	path = .config/nvim
	url = https://github.com/test482/nvim.git
[submodule ".local/share/navi/cheats"]
	path = .local/share/navi/cheats
	url = https://github.com/test482/navi-cheats.git
