[Desktop Action Capture]
Exec=flameshot gui --delay 500
Name[zh_CN]=进行截图
Name=Take screenshot

[Desktop Action Configure]
Exec=flameshot config
Name[zh_CN]=配置
Name=Configure

[Desktop Entry]
Actions=Configure;Capture;
Categories=Graphics;
Comment[zh_CN]=强大又易用的屏幕截图软件
Comment=Powerful yet simple to use screenshot software.
Exec=flameshot
GenericName[zh_CN]=屏幕截图工具
GenericName=Screenshot tool
Icon=flameshot
Keywords[zh_CN]=flameshot;screenshot;capture;shutter;截图;屏幕;
Keywords=flameshot;screenshot;capture;shutter;
Name[zh_CN]=火焰截图
Name=Flameshot
StartupNotify=false
Terminal=false
Type=Application
