!/autostart/
!/bash/
!/environment.d/
!/etc/
!/fd/
!/fontconfig/
!/git/
!/go/
!/macchina/
!/MangoHud/
!/maven/
!/mpv/
!/npm/
!/nvim/
!/pacman/
!/python/
!/ripgrep/
!/systemd/
!/tmux/
!/wezterm/
!/yarn/
!/yazi/
!chromium-flags.conf
!user-dirs.dirs
!user-dirs.locale
