!/alacritty/
!/autostart/
!/bash/
!/environment.d/
!/etc/
!/fcitx5/
!/fd/
!/fontconfig/
!/git/
!/go/
!/MangoHud/
!/maven/
!/mpv/
!/npm/
!/pacman/
!/python/
!/ripgrep/
!/systemd/
!/tmux/
!/topgrade/
!/wezterm/
!/yarn/
!/yazi/
!/yt-dlp/
!chromium-flags.conf
!user-dirs.dirs
!user-dirs.locale
