!/autostart/
!/bash/
!/environment.d/
!/fd/
!/fontconfig/
!/git/
!/go/
!/mpv/
!/npm/
!/pacman/
!/python/
!/ranger/
!/ripgrep/
!/systemd/
!/tmux/
!/yarn/
!chromium-flags.conf
!user-dirs.dirs
!user-dirs.locale
