[Desktop Entry]
Exec=flameshot screen -c
Name=flameshot screen -c
NoDisplay=true
StartupNotify=false
Type=Application
X-KDE-GlobalAccel-CommandShortcut=true
