[Desktop Entry]
Exec=~/.local/bin/touchpadtoggle.sh
Name=~/.local/bin/touchpadtoggle.sh
NoDisplay=true
StartupNotify=false
Type=Application
X-KDE-GlobalAccel-CommandShortcut=true
